<div class="card mx-auto text-center border-light" >
  <img src="assets/profile.jpg" alt="Profile Image" class="mt-3 rounded-circle mx-auto" style="width: 12rem;"/>
  <div class="card-body">
    <h5 class="card-title">🚀 About Me</h5>
    <p class="card-text">
      🌱 Continuously learning and growing in frontend development</p>
    <p>
      🤝 Passionate about collaborating on exciting new projects
    </p>
    <p>
      💬 Open to conversations about web development, Angular, and tech trends<br />
    </p>
    <p>
      📧 Reach out to me:
    </p>
    <a href="mailto:abhishek.wadalkar1@gmail.com" class="card-link" style="color: black; font-size: 3rem;">
      <i class="bi bi-envelope-at-fill"></i>
    </a>

  </div>
</div>
